# SQL Server
MSSQL_SA_PASSWORD=your_strong_password_here
MSSQL_PID=Developer

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_ISSUER=SpectrumCare
JWT_AUDIENCE=SpectrumCare.Client
JWT_EXPIRY_MINUTES=60

# General
ASPNETCORE_ENVIRONMENT=Development 